.container {
    height: 60px;
    background: #000000;
    width: 100%;

}

.infoBlock {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: red;
    align-items: center;
    font-family: "Roboto Light", monospace;
}

.instLogo {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.instLogo:hover {
    scale: 1.1;
}

.linkBlock {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}

.description {
    /*opacity: 0.7;*/
}

.description a {
    text-decoration: none;
    color: #ff0000;
    transition: 0.5s;
}
.description a:hover {
    color: #ffffff;
}